<header>
    <h2>Welcome back <%= current_user.at_name %> (<a href="/logout">Logout</a>)</h2>
  </header>

  <article id='votingTable' class="row">
    <header>
      <h2>Your Vote:</h2>
    </header>
    <%= form_tag('/vote', :class => 'nice row hidden') do %>
    <section class="six columns mobile-two obama">
      <%= radio_button_tag 'vote', '2', (current_user.vote == 2) %>
      <%= label_tag 'vote_2', 'Barack Obama' do %>
      <header>
        <img src="<%= asset_path 'obama.jpg' %>" alt="">
        <h2>Team Obama</h2>
        <div class="checkbox"></div>
      </header>
      <% end %>
      
    </section>
    <section class="six columns mobile-two romney">
      <%= radio_button_tag 'vote', '3', current_user.vote == 3 %>
       <%= label_tag 'vote_3', 'Mitt Romney' do %>
      <header>
        <img src="<%= asset_path 'romney.jpg' %>" alt="">
        <h2>Team Romney</h2>
        <div class="checkbox"></div>
      </header>
      <% end %>
      
    </section>
     <% end %>
  </article>
  <% if current_user.vote != 1 %>
    <article id="share" class="row">
      <header>
        <h3>Share your vote with your followers: <%= raw tweet %>
        </h3>
      </header>
    </article>
  <% end %>
  

  <article id="connectionsTable" class='row'>
    <section class="obama four columns offset-by-one mobile-two">
      <h5>Your Followers voting for Obama</h5>
    <% if !current_user.obama_followers.blank? %>
    <ul>
      <% for follower in current_user.obama_followers %>
        <li><%= image_tag follower.image %><%= link_to follower.at_name, "http://www.twitter.com/" + (follower.name) %></li>
      <% end %>
      </ul>
    <% else %>
      Looks like none of your followers have voted for Obama yet. Spread the word: <%= raw tweet %>
    <% end %>
     <h5>People you follow voting for Obama</h5>
    <% if !current_user.obama_follows.blank? %>
    
    <ul>
      <% for follower in current_user.obama_follows %>
        <li><%= image_tag follower.image %><%= link_to follower.at_name, "http://www.twitter.com/" + (follower.name) %></li>
      <% end %>
      </ul>
    <% else %>
      Looks like none of the people you follow have voted for Obama yet. Spread the word: <%= raw tweet %>
    <% end %>
    </section>
    <section class="romney four columns offset-by-two mobile-two">
      <h5>Your Followers voting for Romney</h5>
      <% if !current_user.romney_followers.blank? %>
      
      <ul>
        <% for follower in current_user.romney_followers %>
          <li> <%= image_tag follower.image %><%= link_to follower.at_name, "http://www.twitter.com/" + (follower.name) %></li>
        <% end %>
        </ul>
      <% else %>
        Looks like none of your followers have voted for Romney yet. Spread the word: <%= raw tweet %>
      <% end %>
      <h5>People you follow voting for Obama</h5>
      <% if !current_user.romney_follows.blank? %>
      <ul>
        <% for follower in current_user.romney_follows %>
          <li><%= image_tag follower.image %><%= link_to follower.at_name, "http://www.twitter.com/" + (follower.name) %></li>
        <% end %>
        </ul>
      <% else %>
        <p>
          Looks like none of your followers have voted for Romney yet. Spread the word: <%= raw tweet %>
        </p>
      <% end %>
    </section>
    <section class="one column"></section>
  </article>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">
      $("input[name=vote]").change(function () {
        $('form').submit();
      })
    </script>